* {
    font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: rgba(19, 0, 54, 0.87)
}

body {
    background-color: white;
}

.navbar {
    background-color: rgba(25, 0, 70, 0.877);
}

.top-buttons {
    margin-top: 15px;
    border-radius: 7px;
    color: white;
    box-shadow: 0 0 30px rgb(49, 49, 49);
    border-style: none;
    padding: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-left: 7px;
    margin-right: 7px;
    
}

._content {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

._thumbnail {
    background-color: rgba(25, 0, 70, 0.877);
    color: white;
    margin: 0px;
    /* padding: 60px; */
}

.carousel-caption {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.774);
    border-radius: 20px;
    padding: 50px;
    top: 27%;
    bottom: auto;
    font-size: 3vw;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    padding-top: 5%;
    padding-bottom: 5%
}

.slider-img {
    opacity: 0.9;
}

.btns {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
}

.card img {
    width: 100%;
    height: 450px;
    box-shadow: 0 0 50px rgba(70, 70, 70, 0.5);
}

._text {
    padding: 10px;
    margin: 10px;
}

.thumb-btn {
    margin-left: 17px;
    margin-bottom: 15px;
}

.search-btn {
    margin-right: 10px;
    padding: 7px;
    color: rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0.507);
    border-color: rgb(77, 77, 77);
}

.minutes {
    margin-left: 120px;
    color: grey;
}

.card {
    border-style: none;
    box-shadow: rgb(71, 71, 71);
    margin-bottom: 20px;
    width: 300px;
    margin: 30px;
}

