* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
}

.navbar {
    background-color: rgba(25, 0, 70, 0.877);
}

._content {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card img {
    width: 100%;
    height: 500px;
    box-shadow: 0 0 50px rgba(70, 70, 70, 0.5);
}


.thumb-btn {
    margin-left: 17px;
    margin-bottom: 15px;
}

.search-btn {
    margin-right: 10px;
    padding: 7px;
    color: rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0.507);
    border-color: rgb(77, 77, 77);
}

.minutes {
    margin-left: 120px;
    color: grey;
}

.card {
    border-style: none;
    box-shadow: rgb(71, 71, 71);
    margin-bottom: 20px;
    width: 300px;
    margin: 30px;
}

